# VSCode
.vscode/

# Backend environment and virtual env
/backend-api/venv/
/backend-api/.env

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
